$dustyOrange:    #f17034;
$dodgerBlue:     #3391ff;
$viridian:       #19a14c;
$veryLighPink:   #e1e1e1;
$pale:           #fff7cc;
$amethyst:       #9a6bb5;
$pale2:          #efece6;
$midBlue:        #2654b4;
$aquaMarine:     #4ac2b9;
$veryLightBlue:  #daebff;
$mariGold:       #ffbe00;
$brightCyan:     #42cfee;
$powderBlue:     #bdd9fa;
$lightTan:       #fff2ab;
$pale3:          #fdedd3;
$veryLightBlue2: #d9f5fc;
$white:          #ffffff;
$black:          #000000;
