@import 'variables.scss';

.more-books {
    background-color: #efece6;
    padding: 80px 0;
    
    .more-books-title {
        padding-bottom: 40px; 
    }   

    .more-books-list {
        .card {
            height: 147px;
            border: 2px solid rgba(0,0,0,.125);
            border-radius: .5rem;

            .add-btn {
                display: none;
            }

            &:hover {
                .add-btn {
                    display: inline-block;
                }
            }

            .view-details {
                color: $midBlue;
                font-family: Muli, sans-serif;
                a {
                    color: $midBlue !important;
                    padding: 0 5px;
                    text-decoration: underline;
                }
            }
        }
        .price {
            color: #19a14c;
            font-family: Muli, sans-serif;
            font-weight: normal;
        }

        .book-title {
            font-size: 1.2rem;
            width: 65%;
        }

        .sub-line {
            font-family: 'Muli', sans-serif;
            font-weight: 200;
        }

        [class*="col-"] {
            padding-bottom: 30px;
        }

        .more-books-footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 0 40px 20px 0;
        }
    }
}