@import '_variables.scss';

header {
    padding: 15px 0;
    font-family: 'muli';
    font-weight: 400;
    color: $midBlue;

    .nav {
        .nav-link {
            color: $midBlue;
        }
    }

    .basket {
        background-color: $powderBlue;
        border-radius: 6px;

        a {
            border-right: 3px solid #FFFFFF;
            float: left;
        }

        .cartCount {
            float: left;
            font-weight: bold;
        }
    }

    .logo-wrapper {
        width: 80px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        img {
            width: 100%;
        }
    }
}